.container {
    background: url('../assets/homeburger-madrid-nuestro-restaurante.jpg');
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

/* Contenedor de mesas */
.mesas {
    width: 80%;
    height: 20%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 15px;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 15px;
    border-radius: 8px;
    color: white;
}

.mesas > h2 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mesa {
    width: 10%;
    height: 40%;
    background-color: beige;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
    border-radius: 8px;
    transition: 0.3s;
    color: black;  /* Cambia el color del texto a negro */
}

.mesa.ocupada {
    background-color: red;
    color: white;
}

.mesa:hover {
    transform: scale(1.1);
    background-color: #FF5733;
    color: white;
}

.mesa.seleccionada {
    background-color: green;
    color: white;
}

/* Layout de menú y comanda */
.contenido {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-top: 20px;
}

.menu, .comanda {
    width: 40%;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 15px;
    border-radius: 8px;
}

.menu h2, .comanda h2 {
    text-align: center;
}

.menu>.item {
    background-color: beige;
    padding: 10px;
    border-radius: 8px;
    margin: 5px 0;
    cursor: pointer;
    transition: 0.3s;
}

.menu>.item:hover {
    background-color: #FF5733;
    color: white;
}

/* Comanda estilo factura */
.comanda ul {
    list-style: none;
    padding: 0;
}

.comanda ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
}

.btn-delete-item{
    width: 30%;
}

button {
    background-color: #FF5733;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
    margin-top: 10px;
}

button:hover {
    background-color: #e64a2e;
}