.register-user {
    background: url('../assets/homeburger-madrid-nuestro-restaurante.jpg');
    background-size: cover;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-user form {
    background-color: rgba(0, 0, 0, 0.7); /* Fondo semitransparente */
    width: 40%;
    min-height: 60%; /* Altura mínima para evitar que el contenido se salga */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px; /* Espaciado interno */
    border-radius: 10px; /* Bordes redondeados */
    box-sizing: border-box; /* Asegura que el padding no afecte el ancho total */
}

.register-user .title {
    color: white;
    font-size: 24px; /* Tamaño del título */
    margin-bottom: 20px; /* Espaciado inferior */
    text-align: center; /* Centrar el texto */
}

.form-group {
    width: 80%; /* Ancho del grupo de formulario */
    margin-bottom: 15px; /* Espaciado entre los grupos de formulario */
    display: flex;
    flex-direction: column;
}

.form-group label {
    color: white;
    font-size: 16px;
    margin-bottom: 5px; /* Espaciado entre el label y el input */
}

.form-group input {
    height: 40px; /* Altura del input */
    width: 100%; /* Ancho del input */
    border-radius: 5px;
    border: 1px solid #ccc; /* Borde para mejor visibilidad */
    padding: 5px 10px; /* Espaciado interno */
    font-size: 14px;
    box-sizing: border-box; /* Asegura que el padding no afecte el ancho total */
}

.form-group button {
    padding: 10px 20px; /* Espaciado interno */
    font-size: 16px;
    background-color: #FF5733; /* Color de fondo */
    color: white; /* Color del texto */
    border: none;
    border-radius: 5px;
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    width: 100%; /* Ancho del botón */
    margin-top: 10px; /* Espaciado superior */
}

.form-group button:hover {
    background-color: #e64a2e; /* Color de fondo al pasar el mouse */
}

.form-group a {
    background-color: aliceblue;
    width: 100%; /* Ancho del enlace */
    padding: 10px;
    border-radius: 5px;
    color: black;
    text-decoration: none;
    text-align: center; /* Centrar el texto */
    margin-top: 10px; /* Espaciado superior */
}

.form-group a:hover {
    background-color: black;
    color: white;
}